.toolbar-bar .toolbar-item.toolbar-menu-administration-dashboard:before {
  background-image: url("../images/dashboard.svg");
}

@keyframes pulse-throbber {
  0% {
    opacity: 1;
    transform: scaley(1);
  }
  100% {
    opacity: 0.2;
    transform: scaley(0.5);
  }
}

.dashboard-layout-builder-form span[data-big-pipe-placeholder-id],
.dashboards-container span[data-big-pipe-placeholder-id] {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 6px;
  height: 30px;
  background: rebeccaPurple;
  animation: pulse-throbber 0.2s infinite;
  animation-delay: 0.0666666667s;
  animation-direction: alternate;
}

.dashboard-layout-builder-form span[data-big-pipe-placeholder-id]:before,
.dashboard-layout-builder-form span[data-big-pipe-placeholder-id]:after,
.dashboards-container span[data-big-pipe-placeholder-id]:before,
.dashboards-container span[data-big-pipe-placeholder-id]:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rebeccaPurple;
  top: 0;
  animation: pulse-throbber 0.2s infinite;
  animation-direction: alternate;
}

.dashboard-layout-builder-form span[data-big-pipe-placeholder-id]:before,
.dashboards-container span[data-big-pipe-placeholder-id]:before {
  left: -12px;
}

.dashboard-layout-builder-form span[data-big-pipe-placeholder-id]:after,
.dashboards-container span[data-big-pipe-placeholder-id]:after {
  left: 12px;
  animation-delay: 0.1333333333s;
}

.layout--twocol-section.layout--twocol-section--50-50 {
  display: flex;
  justify-content: space-between;
  flex-wrap: unset;
  gap: 15px;
}

.button.dashboard-button {
  margin: 1.5rem 1.5rem;
}

.dashboard-button:hover {
}

.dashboard-gin-panel.panel form.views-exposed-form {
  border: none;
  box-shadow: none;
}

.dashboard-gin-panel.panel .views-table th {
  border-radius: 0;
}

html.dashboard .toolbar .toolbar-bar .home-toolbar-tab {
  display: block;
}